<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/accountdetails.css" />

    <title>acccount details</title>
  </head>
  <body style="background-color: #eee">
    <%- include('./partial/header') %>
    <section>
      <div class="container py-5">
        <div class="row">
          <%-include('./partial/sidebar-profile')%>

          <div class="col-lg-8">
            <div class="card mb-4">
              <div class="card-body">
                <form action="/addaddress" method="post">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Address Name</label>
                    <select
                      class="form-control"
                      id="exampleSelect1"
                      name="Addressname"
                    >
                      <option>home</option>
                      <option>office</option>
                      <option>Hostel</option>
                      <!-- <option>For Someone else</option> -->
                    </select>
                  </div>
                  <!-- <div class="form-group">
                    <label for="exampleInputEmail1">Address Name </label>
                    <input
                      type="text"
                      name="Addressname"
                      class="form-control"
                      placeholder="home,office"
                      required
                    />
                  </div> -->
                  <!-- <hr /> -->
                  <div class="form-group">
                    <label for="exampleInputEmail1">First Name </label>
                    <input
                      type="name"
                      id="firstname"
                      class="form-control"
                      placeholder=""
                      name="Firstname"
                    />
                    <small id="firstNameError" class="text-danger"></small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Second Name </label>
                    <input
                      type="name"
                      class="form-control"
                      placeholder=""
                      id="secondname"
                      name="Secondname"
                    />
                    <small id="secondNameError" class="text-danger"></small>
                  </div>

                  <div class="form-group">
                    <label for="Address">Address</label>
                    <textarea
                      class="form-control"
                      rows="3"
                      id="address"
                      name="Address"
                    ></textarea>
                    <small id="addressError" class="text-danger"></small>
                  </div>
                  <div class="form-group">
                    <label for="phonenumber">Phone number</label>
                    <input
                      type="number"
                      class="form-control"
                      id="phonenumber"
                      placeholder=""
                      name="PhoneNumber"
                    />
                    <small id="phonenumberError" class="text-danger"></small>
                  </div>
                  <div class="form-group">
                    <label for="City">State</label>
                    <input
                      type="text"
                      name="State"
                      id="state"
                      class="form-control"
                      placeholder="palakkad"
                    />

                    <small id="stateError" class="text-danger"></small>
                    <!-- <small id="emailHelp" class="form-text text-muted"
                      >We'll never share your email with anyone else.</small
                    > -->
                  </div>
                  <div class="form-group">
                    <label for="City">City</label>
                    <input
                      type="text"
                      name="City"
                      id="city"
                      class="form-control"
                      placeholder="palakkad"
                    />
                    <small id="cityError" class="text-danger"></small>
                    <!-- <small id="emailHelp" class="form-text text-muted"
                      >We'll never share your email with anyone else.</small
                    > -->
                  </div>
                  <div class="form-group">
                    <label for="City">Landmark(optional)</label>
                    <input
                      type="text"
                      name="Landmark"
                      class="form-control"
                      placeholder=""
                    />
                    <!-- <small id="emailHelp" class="form-text text-muted"
                      >We'll never share your email with anyone else.</small
                    > -->
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1">Country</label>
                    <select
                      class="form-control"
                      id="exampleSelect1"
                      name="Country"
                    >
                      <option>India</option>
                      <option>Africa</option>
                      <option>America</option>
                      <option>Pakistan</option>
                      <option>China</option>
                      <option>Mexico</option>
                      <option>Italy</option>
                      <option>Spain</option>
                      <option>Russia</option>
                      <option>Argentina</option>
                      <option>Switzerland</option>
                      <option>Singapore</option>
                      <option>Sweden</option>
                      <option>New Zealand</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Pincode">Pincode</label>
                    <input
                      type="number"
                      id="pincode"
                      class="form-control"
                      placeholder=""
                      name="Pincode"
                    />
                    <small id="pincodeError" class="text-danger"></small>
                    <!-- <small id="emailHelp" class="form-text text-muted"
                      >We'll never share your email with anyone else.</small
                    > -->
                  </div>
                  <button
                    type="submit"
                    value="submit"
                    class="btn text-light btn-block"
                    style="background-color: #000000; border-radius: 0%"
                  >
                    SAVE
                  </button>
                  <button
                    class="btn btn-block btn-light border-dark"
                    style="border-radius: 0%"
                  >
                    CANCEL
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
       <%- include('./partial/footer') %>
    <script>
      document
        .querySelector("form")
        .addEventListener("submit", function (event) {
          function isEmpty(value) {
            const trimmedValue = value.trim();
            return trimmedValue === "";
          }

          function validateAddress(address) {
            const minLength = 40;
            return address.trim().length >= minLength;
          }
          function validatePhone(phonenumber) {
            const phoneRegex = /^\d{10}$/;
            return phoneRegex.test(phonenumber);
          }

          function validatePinc(pincode) {
            const pinRegex = /^\d{6}$/;
            return pinRegex.test(pincode);
          }

          const firstname = document.getElementById("firstname");
          const firstnameValue = firstname.value;
          const firstnameError = document.getElementById("firstNameError");

          const secondname = document.getElementById("secondname");
          const secondnameValue = secondname.value;
          const secondnameError = document.getElementById("secondNameError");

          const address = document.getElementById("address");
          const addressValue = address.value;
          const addressError = document.getElementById("addressError");

          const state = document.getElementById("state");
          const stateValue = state.value;
          const stateError = document.getElementById("stateError");

          const city = document.getElementById("city");
          const cityValue = city.value;
          const cityError = document.getElementById("cityError");

          const pincode = document.getElementById("pincode");
          const pincodeValue = pincode.value;
          const pincodeError = document.getElementById("pincodeError");

          const phonenumber = document.getElementById("phonenumber");
          const phonenumberValue = phonenumber.value;
          const phonenumberError = document.getElementById("phonenumberError");

          firstnameError.textContent = "";
          secondnameError.textContent = "";
          addressError.textContent = "";
          stateError.textContent = "";
          cityError.textContent = "";
          pincodeError.textContent = "";
          phonenumberError.textContent = "";

          if (isEmpty(firstnameValue)) {
            firstnameError.textContent = "First name can't be empty";
            event.preventDefault();
          }

          if (isEmpty(secondnameValue)) {
            secondnameError.textContent = "Second name can't be empty";
            event.preventDefault();
          }
          if (isEmpty(addressValue)) {
            addressError.textContent = "Address field can't be empty";
            event.preventDefault();
          }
          if (isEmpty(stateValue)) {
            stateError.textContent = "State field can't be be empty";
            event.preventDefault();
          }
          if (isEmpty(cityValue)) {
            cityError.textContent = "City field can't be empty";
            event.preventDefault();
          }
          if (isEmpty(pincodeValue)) {
            pincodeError.textContent = "Pincode field can't be empty";
            event.preventDefault();
          }
          if (isEmpty(phonenumberValue)) {
            phonenumberError.textContent = "Phone number field can't be empty";
            event.preventDefault();
          }
          if (!validatePhone(phonenumberValue)) {
            phonenumberError.textContent =
              "Phone number must contain 10 characters";
            event.preventDefault();
          }
          if (!validatePinc(pincodeValue)) {
            pincodeError.textContent = "Enter a valid pincode";
            event.preventDefault();
          }
          if (!validateAddress(addressValue)) {
            addressError.textContent =
              "Address should have at least 40 characters";
            event.preventDefault();
          }
        });
    </script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="logoutModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="logoutModalLabel">Confirm Logout</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you want to logout?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a href="/logout" class="btn btn-danger">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
