.d-flex p {
  padding: 3px; /* Adjust the top padding to bring the text closer */
  margin: 0; /* Remove any margin to make it closer to the line */
  color: #000000;
  /* font-family: arial; */
}

.flexMain {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 0;
  height: 50px; /* Adjust the height as needed */
  width: 100%; /* Adjust the width as needed */
}
.flex1 {
  flex: 1;
}
.flex2 {
  flex: 2;
}
.flex3 {
  flex: 3;
}

button.siteLink {
  margin-left: -5px;
  border: none;
  padding: 24px;
  display: inline-block;
  min-width: 115px;
}
.whiteLink {
  background: #fff;
}
.whiteLink:active {
  background: #000;
  color: #fff;
}
.blackLink {
  color: #fff;
  background: #232323;
  transition: all 300ms linear;
}

.blackLink:active {
  color: #000;
  background: #fff;
}
#siteBrand {
  font-family: lucida;
  letter-spacing: -1px;
  font-size: 32px;
  color: #252525;
  line-height: 1em;
  margin-bottom: 0;
}
#menuDrawer {
  background: #fff;
  position: fixed;
  height: 100vh;
  overflow: auto;
  z-index: 12312;
  top: 0;
  left: 0;
  border-right: 1px solid #eaeaea;
  min-width: 25%;
  max-width: 320px;
  width: 100%;
  transform: translateX(-100%);
  transition: transform 200ms linear;
}
#mainNavigation {
  transition: transform 200ms linear;
  background: #fff;
}
.drawMenu > #menuDrawer {
  transform: translateX(0%);
}
.drawMenu > #mainNavigation {
  transform: translateX(25%);
}
.fa-times {
  cursor: pointer;
}
a.nav-menu-item:hover {
  margin-left: 2px;
  border-left: 10px solid black;
}
a.nav-menu-item {
  transition: border 200ms linear;
  text-decoration: none;
  display: block;
  padding: 18px;
  padding-left: 32px;
  border-bottom: 1px solid #eaeaea;
  font-weight: bold;
  color: #000000;
}
select.noStyle {
  border: none;
  outline: none;
}
.box {
  padding: 23px;
  height: 500px;
  color: rgb(0, 0, 0);
  border: 200px;
  width: 340px;
  font-size: 12px;
  justify-content: center;
  gap: 12px;
  /* align-items: center; */
  position: absolute;
  left: 35%;
  right: 50%;
  top: 20%;
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.icon-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 6px; /* Add spacing between icons if needed */
}
.icon-box svg {
  width: 12px; /* Adjust the width to make the icons smaller */
  height: 12px; /* Adjust the height accordingly */
  fill: #000; /* Modify the color if needed */
}
.add-to-cart-btn {
  font-size: 9px;
  border: none;
  height: 31px;
  width: 303px;
  color: #eaeaea;
  background: #000000;
  margin-top: 12px;
  border-radius: 5px;
}
.add-to-cart-btn:hover {
  color: aliceblue;
  text-decoration: none;
}
/* Style the carousel container */
.carousel {
  max-width: 600px; /* Adjust to your preferred maximum width */
  margin: 0 auto;
}

/* Style the carousel images */
.carousel-item img {
  max-width: 100%; /* Set the maximum width of the images */
  /* max-height: 500px; Set the maximum height of the images */
  object-fit: contain; //* Maintain aspect ratio */
}
#productImageCarousel {
  max-width: 60%; /* Adjust this value to your desired size */
  margin: 0 auto; /* Center the carousel */
}

