<div class="footer-head mt-5">
  <footer>
    <h4 class="text-center p-5 m-5" style="font-family: lucida">AROMA</h4>
    <div class="row-style">
      <div class="col-style" style="color: rgb(160, 160, 160)">
        <p style="font-size: 11px; color: rgb(160, 160, 160)">
          <a href="/productlist" style="color: rgb(255, 255, 255)"
            >EXPLORE AROMA.COM</a
          >
        </p>
        <p style="font-size: 11px">
          <a href="/productlist" style="color: rgb(160, 160, 160)">WOMEN</a>
        </p>
        <p style="font-size: 11px">
          <a href="/productlist" style="color: rgb(160, 160, 160)">MEN</a>
        </p>
        <p style="font-size: 11px">
          <a href="/productlist" style="color: rgb(160, 160, 160)">SHOP</a>
        </p>
        <p style="font-size: 11px">
          <a href="/productlist" style="color: rgb(160, 160, 160)"
            >NEW ARRIVALS</a
          >
        </p>
        <p style="font-size: 11px">
          <a href="/productlist" style="color: rgb(160, 160, 160)">SALE</a>
        </p>
      </div>

      <div class="col-style" style="color: rgb(160, 160, 160)">
        <p style="font-size: 11px; color: rgb(160, 160, 160)">
          <a href="/productlist" style="color: rgb(255, 255, 255)"
            >SPECIAL OFFERS</a
          >
        </p>
        <p style="font-size: 11px" style="color: rgb(160, 160, 160)">
          <a href="/productlist" style="color: rgb(160, 160, 160)">DISCOUNTS</a>
        </p>
        <p style="font-size: 11px">
          <a href="/productlist" style="color: rgb(160, 160, 160)"
            >FEATURED PRODUCTS</a
          >
        </p>
      </div>

      <div class="col-style" style="color: rgb(160, 160, 160)">
        <p style="font-size: 11px; color: rgb(255, 255, 255)">
          <a href="" style="color: #ffffff">ONLINE SERVICES</a>
        </p>
        <p style="font-size: 11px">
          <a href="/profile" style="color: rgb(160, 160, 160)">MY ACCOUNT</a>
        </p>
        <p style="font-size: 11px">
          <a href="" style="color: rgb(160, 160, 160)">HELP</a>
        </p>
        <p style="font-size: 11px">
          <a href="/cart" style="color: rgb(160, 160, 160)">MY CART</a>
        </p>
        <p style="font-size: 11px">
          <a href="/wishlist" style="color: rgb(160, 160, 160)">MY WISHLIST</a>
        </p>
        <p style="font-size: 11px">
          <a href="myorder" style="color: rgb(160, 160, 160)">TRACK ORDER</a>
        </p>
        <p style="font-size: 11px">
          <a href="/wallet" style="color: rgb(160, 160, 160)">WALLET</a>
        </p>
      </div>
    </div>
  </footer>
</div>
