<div class="footer-head">
  <footer>
    <h4 class="text-center p-5" style="font-family: lucida">AROMA</h4>
    <div class="row-style">
      <div class="col-style" style="color: rgb(160, 160, 160)">
        <p style="font-size: 11px; color: rgb(255, 255, 255)">
          EXPLORE AROMA.COM
        </p>
        <p style="font-size: 11px">WOMEN</p>
        <p style="font-size: 11px">MEN</p>
        <p style="font-size: 11px">SHOP</p>
      </div>
      <div class="col-style" style="color: rgb(160, 160, 160)">
        <p style="font-size: 11px; color: rgb(255, 255, 255)">
          ONLINE SERVICES
        </p>
        <p style="font-size: 11px">MY ACCOUNT</p>
        <p style="font-size: 11px">HELP</p>
        <p style="font-size: 11px">MY CART</p>
        <p style="font-size: 11px">MY WHISHLIST</p>
      </div>
    </div>
  </footer>
</div>
